.scrolling {
  z-index: 999;
  background-color: #f1ececdb;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  margin-top: 0 !important;
  display: flex;
  justify-content: center;
  height: 41px;
  @include for-narrow-layout {
    background-color: transparent;
  }

  .navbar-list {
    align-items: center;
  }
  .humburger-bar {
    margin-right: 17.5px;
  }
}
.main-navbar {
  margin-top: 52px;
  @include for-narrow-layout {
    width: 100%;
    justify-content: flex-end !important;
  }
  .humburger-bar {
    cursor: pointer;
    color: $clr1;
    display: none;
    font-size: rem(40px);
    @include for-narrow-layout {
      display: block;
    }
  }
  .navbar-list {
    position: relative;
    @include for-narrow-layout {
      z-index: 101;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 121px;
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 270px;
      transform: translate(100%, 0);
      transition: transform 0.6s;
      background: rgba(255, 255, 255, 0.9);
      border-left: 1px solid #c3c3c3;
    }
    & > * {
      @include for-narrow-layout {
        width: 100%;
      }
    }
    .logo{
      display: none;
     margin:30px auto;
       width: 150px;
      @include for-narrow-layout {
        display: block;
      }
    }
    .close-menu {
      display: none;
      @include for-narrow-layout {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 15px;
        font-size: rem(25px);
        width: 29px;
        right: 15px;
      }
    }
  }
  .navbar-preview {
    font-size: rem(16px);
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    margin-right: 30px;
    cursor: pointer;
    @include for-narrow-layout {
      padding-top: 15px;
      display: flex;
      justify-content: center;
      margin-right: 0;
      width: 100%;
      border-bottom: 1px solid #ececec;
      &:hover {
        background-color: #0000001a;
      }
    }
  }
}

.active,.navbar-preview:hover {
  border-bottom: 2px solid $clr1;
  @include for-narrow-layout {
    border-bottom: none;
   }
}

.openMenu {
  transform: translate(0, 0) !important;
}
