* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.6;
}

body {
    font-family: Cormorant, sans-serif;
    color:$clr1;
  
}



img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {

    margin-top: 0;
    font-weight: normal;
}


