button {
  outline: none;
  cursor: pointer;
  padding: 20px 32px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  transition: all .2s;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
    animation: buttonEffect 0.3s ;
   
  }
}


