.icon-menu:before {
    font-family: icomoon;
    content: "\e9bd";
  }

  .icon-cross:before {
    font-family: icomoon;
    content: "\ea0f";
  }
  .icon-paper-plane-o:before {
    font-family: icomoon;
    content: "\e900";
  }
  .icon-codewars:before {
    font-family: icomoon;
    content: "\e901";

  }
  .icon-facebook:before {
    font-family: icomoon;
    content: "\ea90";
  }
  .icon-linkedin2:before {
    font-family: icomoon;
    content: "\eaca";
  }
  .icon-git:before {
    font-family: icomoon;
    content: "\eae7";
  }
  .icon-long-arrow-up:before {
    font-family: icomoon;
    content: "\e902";
  }