// Colors
$clr1: #212121;
$clr2: #8a9d54;
$clr3: #3340FF;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 700px;
$narrow-breakpoint: 900px;
$normal-breakpoint: 1169px;